
body, html {
    
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    

}

header {
    background-color: #002040;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.news-section {
    padding: 20px;
    background-color: aliceblue;
    margin: 20px 0;
    text-align: center;
}

.news-section img {
    max-width: 100%;
    height: 500px;
    border-radius: 15px;
}






.parallax-container {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
    background-image: url('https://cdn.pixabay.com/photo/2020/03/09/15/30/painting-4916118_1280.jpg');
    background-position: center;
    background-size: cover;

  
}

.parallax-container2{
    background-image: url('https://images.pexels.com/photos/6940878/pexels-photo-6940878.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6rem 0;
    gap: 1.6em;
}


.parallax-container3{
    background-attachment: fixed;
    background-image: url('https://images.pexels.com/photos/6941121/pexels-photo-6941121.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-size: cover;

}



/* Content section styling */
.content {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    /*align-items: center;*/
    padding: 20px;
    border-radius: 0.5em;
    color: rgba(253, 253, 253, 0.763);
    background-color: #002040;
    box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
    font-size: 15px;
    margin-right: 20rem;
    
    

}

.content2 {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    /*align-items: center;*/
    padding: 20px;
    border-radius: 0.5em;
    color: rgba(253, 253, 253, 0.763);
    background-color: #002040;
    box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
    font-size: 15px;
    margin-right: 20rem;
   

}
.content3 {

    display: flex;
    max-width: 500px;
    flex-direction: column;
    /*align-items: center;*/
    padding: 20px;
    border-radius: 0.5em;
    color: rgba(253, 253, 253, 0.763);
    background-color: #002040;
    box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
    font-size: 15px;
    margin-right: 20rem;

}
main {
    padding-top: 70px;
}

#art1-title{
    color: bisque;
}

p{
    line-height: 1.5;

}


/*button*/ a {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #002040;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/*button*/ a :hover {
    background-color: #555;
}

a.plain-link {
    text-decoration: underline; 
    color:#252fb9; 
    background: none;
    padding: 0;
}

a.plain-link:hover {
    color: blueviolet;
}



footer {
    background-color: #002040;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}



#art2headline{
    color: #9dd99b;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Gluten", cursive;
    font-weight: 700;
   font-size: 100px;
}


.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Legg til litt mellomrom rundt */
    margin-top: 10rem;
    
}




/* Container for å sentrere den andre artikkelen */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Legg til litt mellomrom rundt */
    margin-top: 2rem;
}

/* Stiler for .article2 */
.article2 {
    max-width: 600px; /* Sett ønsket bredde */
    padding: 20px;
    background-color: #f8f8f8; /* Bakgrunnsfarge for "kortet" */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Sørger for sentrering og mellomrom */
}

p.art2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    z-index: 3;
}

   /* Bakgrunnsstil */
   .bgimg-1 {
    background-image: url("https://images.pexels.com/photos/635705/pexels-photo-635705.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    background-size: cover; /* Fyller hele området */
    background-position: center; /* Sentrerer bildet */
    min-height: 100%; /* Fyller hele høyden */
    position: absolute; /* Lar bakgrunnen ligge bak innholdet */
    width: 100%; /* Fyller hele bredden */
    z-index: 1; /* Bakgrunn under innholdet */
    top:0;
    left: 0;
}

.bgimg-2{
    background-image: url("https://images.pexels.com/photos/5529505/pexels-photo-5529505.jpeg");
    min-height: 500px;
}
.bgimg-3{
    background-image: url("https://images.pexels.com/photos/5528994/pexels-photo-5528994.jpeg?auto=compress&cs=tinysrgb&w=600");
    min-height: 500px;
}

.bgimg-4{
    background-image: url("https://images.pexels.com/photos/162709/apple-red-fruit-fruits-162709.jpeg?auto=compress&cs=tinysrgb&w=600");
    min-height: 500px;
}
 .bgimg-2, .bgimg-3, .bgimg-4{
    position: relative;
  
    background-position: center;
    background-size: cover;
 }







/* Gjennomsiktig farge over bakgrunnen */
.overlay {
    background-color: rgba(0,0,0,0.5); /* Svart med 50% gjennomsiktighet */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    z-index: 2; 
    
}

/* Innhold */
.art2Content {
    position: relative; /* Lar innholdet være over overlay */
    z-index: 3; /* Sørger for at innholdet er over både bakgrunn og overlay */
    padding: 20px;
    max-width: 800px; /* Begrens bredde på innholdet */
    margin: auto; /* Sentrerer innholdet horisontalt */
}


.apple-picking-img{
    width: 100%; /* Bildet fyller hele bredden */
    height: auto; /* Beholder proporsjoner */
    margin: 20px 0; /* Litt plass over og under bildet */
    display: block;
    /*max-width: 900px;*/
  
}
.element {
    display: none;
}


.art3-headline{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 1rem;

}


.parallax {
    background-size: 950px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}
#pic1{
    background-image: url('img/energidrikk.jpg');
    /*overflow:hidden;*/
    
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    min-height: 70vh;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}




#pic2{
    background-image: url('img/energy-drinks.jpg');
    overflow:hidden;
    min-height: 500px;
    margin: 2rem;
}




.pic3{
    background-image: url('img/infografikk.png');
    
    width: 100%;
    margin: 0 auto;
    min-height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 950px;
}




.art3{
    max-width: 50%;
    margin: 2rem auto;
    padding-bottom: 2rem;
    font-size: 20px;
    

}


.art4headline{
    font-weight: bold;
    text-align: center;
    font-family: "Bungee Tint", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

}

.img1{
    background-image: url('img/corona-red.jpg');
    width: 100%;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    
}

.img2{
    background-image: url('https://cdn.pixabay.com/photo/2020/03/30/09/15/corona-4983590_1280.jpg');
    width: 100%;
    min-height: 70vh;
    padding-bottom: 2rem;
}


.img3{
    background-image: url('img/corna-Testing.jpg');
    width: 100%;
    min-height: 70vh;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: center;

}

.img4{
    background-image: url('https://images.pexels.com/photos/8949869/pexels-photo-8949869.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width: 100%;
    min-height: 70vh;
    padding-bottom: 2rem;

}

.img5{
    background-image: url('img/Sprøyte.jpg');
    width: 100%;
    min-height: 70vh;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: center;

}
.img6{
    background-image: url('img/corona-white.jpg');
    width: 100%;
    min-height: 70vh;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: center;

}

.art4{
    max-width: 50%;
    margin: 2rem auto;
    padding-bottom: 2rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}
 h4{
    
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 50%;
    margin: 2rem auto;
 }

 .art4 p{
    line-height: 1.7;
    padding-bottom: 1.5rem;
 }

 #under-img2{
    padding-top: 1rem;
    line-height: 1.7;
    padding-bottom: 1.5rem;
 }

 #subheader{
    margin-bottom: 0;
 }
#subheading{
margin-top: 0.5rem;
}




